<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/gatinhoo.png') }}" alt="">
            <p>メニュー</p>
        </div>
        <div class="links">
            <a href=""><img src="{{ url_for('static', filename='img/external-link.svg') }}" alt=""></a>
            <a href=""><img src="{{ url_for('static', filename='img/settings.svg') }}" alt=""></a>
        </div>
    </header>

    <section class="dashboard">

        <section class="carrinho">
            <img src="{{ url_for('static', filename='img/gatinhoo.png') }}" alt="" id="logo">

            <div class="title">
                <h2>Your Menu</h2>
                <p>Summary</p>
            </div>

            <div class="info">
                <p>Date:</p>
                <p>Code:</p>
            </div>

            <div class="pedidos">

                <div class="pedido">
                    <div class="unidade">
                        <img src="{{ url_for('static', filename='img/Rectangle 14.svg') }}" alt="">
                        <div>
                            <h3>Food name</h3>
                            <p id="preco">$00.00</p>
                        </div>
                    </div>

                    <div class="contador">
                        <button id="menos">-</button>
                        <p id="num">1</p>
                        <button id="mais">+</button>
                    </div>
                </div>
            </div>

            <h5 id="total">Total:</h5>
            <button id="checkout">Checkout →</button>
        </section>

    </section>

</body>
</html>